<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Nueva Rutina
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form 
  [formGroup]="routineForm" 
  (ngSubmit)="Send(routineForm.value)"> 

      <ion-item>
        <ion-label>Desde</ion-label>
        <ion-datetime  formControlName="date_from" placeholder="DD MM , YY HH:mm" display-format	= "DD MM , YY HH:mm"	></ion-datetime>  
    
      </ion-item>

      <ion-item>
        <ion-label>Hasta</ion-label>     
        
          <ion-datetime  formControlName="date_to" placeholder="DD MM , YY HH:mm" display-format	= "DD MM , YY HH:mm"	></ion-datetime>  
        
      </ion-item>
        
      <ion-item>
        
          <ion-label>Zona</ion-label>
          <ion-select formControlName="zone_id" placeholder="Seleccionar">
            <ion-select-option value="1">Zona 1</ion-select-option>
            <ion-select-option value="2">Zona 2</ion-select-option>
            <ion-select-option value="3">Zona 3</ion-select-option>
            <ion-select-option value="4">Zona 4</ion-select-option>
            <ion-select-option value="5">Todas</ion-select-option>
          </ion-select>
        
      </ion-item>
      
  </form>
</ion-content>
<ion-footer>
  <ion-button 
  expand="full" 
  shape="round" 
  color="success"
  type = "submint"
  (click)="Send(routineForm.value)"
  >Guardar  
  </ion-button> 
</ion-footer>
