<ion-header id="container" [translucent]="true">
  <ion-toolbar class="new-background-color" >
    <ion-title>
      <ion-text color="light">
        Nueva Rutina
      </ion-text>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form 
  [formGroup]="routineForm" 
  (ngSubmit)="Send(routineForm.value)"> 

      <ion-item>
        <ion-label>Desde</ion-label>
        <ion-datetime  formControlName="date_from" placeholder="DD MM , YY" display-format	= "DD-MM-YY "	></ion-datetime>  
        <ion-datetime  formControlName="time_from" placeholder="HH:mm" display-format	= "HH:mm"	></ion-datetime>  
      </ion-item>

      <ion-item>
        <ion-label>Hasta</ion-label>     
        
        <ion-datetime  formControlName="date_to" placeholder="DD MM , YY" display-format	= "DD-MM-YY "	></ion-datetime>  
        <ion-datetime  formControlName="time_to" placeholder="HH:mm" display-format	= "HH:mm"	></ion-datetime>  
        
      </ion-item>
        
      <ion-item>
        
          <ion-label>Zona</ion-label>
          <ion-select formControlName="zone_id" placeholder="Seleccionar">
            <ion-select-option value="1">Zona 1</ion-select-option>
            <ion-select-option value="2">Zona 2</ion-select-option>
            <ion-select-option value="3">Zona 3</ion-select-option>
            <ion-select-option value="4">Zona 4</ion-select-option>
            <ion-select-option value="5">Todas</ion-select-option>
          </ion-select>
        
      </ion-item>
      
  </form>
    
    <!-- fab placed to the (vertical) center and end -->
    <ion-fab vertical="center" horizontal="start" slot="fixed">
      <ion-fab-button (click)="back()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
<ion-footer>
  <ion-button 
  class="button"
  expand="full" 
  shape="round" 
  type = "submint"
  [disabled] = "!routineForm.valid"
  (click)="Send(routineForm.value)"
  >Guardar  
  </ion-button> 

</ion-footer>
