.new-background-color{
    --background: #7acc2d;
    -ms-text-justify: auto;
}

.close {
    /** primary **/
    --ion-color-primary: red;
    --ion-color-primary-rgb: 45, 211, 111;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: red;
    --ion-color-primary-tint: red;
    --float: right;
}

.botones{
    margin-right: 0%;
    margin-right: 0%;
    position:ms-page;

}
.info{
    font-size: 13px;
    display:inline;
}

.titulo{
    font-size: 14px;
    font-weight: bold;
    display:inline;
}
.id{
    font-size: 13px;
    font-weight: bold;
    display:inline;
}