<ion-header id="container" [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      <ion-text color="light">
        Programados
      </ion-text>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <div class="grid">
    <div *ngFor="let rutina of rutinas" >
      <ion-item>
          {{rutina.date_from}}
          <br>  {{rutina.date_to}}
          <br>  {{rutina.status}}
          <br>  {{rutina.zone_id}}
      </ion-item>
    </div> 
  </div>
</ion-content>