.new-background-color{
    --background: #7acc2d;
    -ms-text-justify: auto;
}

ion-card ion-button {
    text-align: end;
}

.card-background-page {
    border-radius: 10px;
    --ion-card-ios-background-color: slategray;
    --ion-card-md-background-color: slategray;
    --ion-card-wp-background-color: slategray;
}

.titulo{
    font-size: 14px;
    font-weight: bold;
    display:inline;
    text-align: center;
}

