<ion-header id="container" [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      <ion-text color="light">
        Programados
      </ion-text>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-item>Pendientes</ion-item>
    <div *ngFor="let rutina of rutinas" >
      <br>
      <ion-item class="cuadro" >
        <div class="info" >
          <p class="id">ID:  </p>{{rutina.watering_id}}<br>
          <p class="titulo">Zona: </p> {{rutina.zone_id}} <br>
          <p class="titulo">Inicio: </p><br>{{rutina.date_from}}<br>
          <p class="titulo">Fin:    </p><br>{{rutina.date_to}}<br>
        </div>  
        <div class="botones" slot="end">
          <ion-button class="update" shape="round"  slot="end" [routerLink]="['../update', rutina.watering_id ]">
            <ion-icon name="refresh-outline"></ion-icon>
          </ion-button>
  
          <ion-button class="close" shape="round" slot="end" [routerLink]="['../delete', rutina.watering_id ]">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>          
      </ion-item>
      <br>
    </div> 

</ion-content>