<ion-header id="container" [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-title>
      <ion-text color="light">
        Historico
      </ion-text>      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngFor="let rutina of rutinas" >
    <ion-card class="card-background-page">
      <ion-card-content >
        <ion-card-subtitle>Zona:  {{rutina.zone_id}}</ion-card-subtitle>      
        <p class="titulo">Inicio: </p><br><h3>{{rutina.date_from}}</h3>
        <p class="titulo">Fin:    </p><br><h3>{{rutina.date_to}}</h3>
      </ion-card-content>    
    </ion-card>
  </div> 
</ion-content>
