ion-select {
    /* Applies to the value and placeholder color */
    color: black;
  
    /* Set a different placeholder color */
    --placeholder-color: black;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 100;
  }

  .zona{
    --color: black;
    color: black;
  }