<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-back-button text="" ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="Update(routineForm.value)" ><ion-icon name="checkmark-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title >Actualizar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div *ngFor="let rutina of rutinas" >
  <form 
    [formGroup]="routineForm" 
    (ngSubmit)="Update(routineForm.value)"> 

      
      <ion-item>
        <ion-label>Desde</ion-label>
        <ion-datetime  formControlName="date_from" placeholder="DD MM , YY" display-format	= "DD-MM-YY "	></ion-datetime>  
        <ion-datetime  formControlName="time_from" placeholder="HH:mm" display-format	= "HH:mm"	></ion-datetime>  
      </ion-item>

      <ion-item>
        <ion-label>Hasta</ion-label>     
        
        <ion-datetime   formControlName="date_to" placeholder="DD MM , YY" display-format	= "DD-MM-YY "	></ion-datetime>  
        <ion-datetime   formControlName="time_to" placeholder="HH:mm" display-format	= "HH:mm"	></ion-datetime>  
        
      </ion-item>
        
      <ion-item>
        
          <ion-label  >Zona</ion-label>

          <ion-select formControlName="zone_id" placeholder="Zona {{rutina.zone_id}}">
            <ion-select-option value="1">Zona 1</ion-select-option>
            <ion-select-option value="2">Zona 2</ion-select-option>
            <ion-select-option value="3">Zona 3</ion-select-option>
            <ion-select-option value="4">Zona 4</ion-select-option>
            <ion-select-option value="5">Todas</ion-select-option>
          </ion-select>
        
      </ion-item>

      <div class="boton" text-center>
        <ion-button (click)="presentAlert()" color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
      </div>    

  </form>

  </div>
  {{mensaje}}

</ion-content>
