.container{
    --background: #7acc2d;
    --color:  #7acc2d;
    -ms-text-justify: auto;
}
.header{
    --background: #7acc2d;
    --color:  #7acc2d;
    -ms-text-justify: auto;
}

.button{
    color: "#7acc2d";
}